/* CSS Variables */
:root {
    --main-font: 'Montserrat', sans-serif;
    --light-color: #fff;
    --dark-color: #252525;
    --main-color: #eb7100;
    --second-color: #7a7a7a;
    --third-color: #3b667d;
    --trans-speed: 0.5s;
    --trans-ease: ease;
    --bg-img: url('../img/Excavation_Piscine_cruiser.jpg');
}

/* Reset and Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body {
    background-color: var(--light-color);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    margin: 0.75rem 0;
}

.text-primary-logo {
    color: var(--main-color);
}

.text-secondary-Logo {
    color: var(--light-color);
}

/* Navbar Styles */
nav {
    background-color: var(--dark-color);
    border-bottom: 1px solid var(--main-color);
    transition: top 0.3s var(--trans-ease);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

    position: fixed;
    width: 100%;
    z-index: 1000;
    opacity: 1; 
    transition: opacity 0.5s;
    
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    height: 60px;
    padding-top: 1rem;
    text-transform: uppercase;
}

nav ul li img {
    width: 200px; 
    height: auto; 
    margin-right: 10px; 
    border-radius: 5px; 
    text-decoration: none;
    padding-top: 20px;
    filter: brightness(200%); 
}

nav ul li.logo img {
    width: 200px;
    height: auto;
    margin-right: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    filter: brightness(200%);
}


nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--light-color);
    font-size: 17px;
}



nav a:hover {
    background-color: var(--main-color);
    transition: background-color var(--trans-speed) var(--trans-ease);
    border-radius: 7px;
    text-decoration: none;
    color: var(--light-color);
    height: 40px;
}


nav li:first-child{
    margin-right: auto;
}

/* Sidebar Menu */
.sidebar{
    position: fixed;
    width: 250px;
    height: 100vh;
    top: 0;
    right: 0;
    z-index: 999;
    padding: 1rem;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items:flex-start;
    justify-content: flex-start;
    background-color: rgba(64, 63, 63, 0.2);
    backdrop-filter: blur(10px);
}

.sidebar li {
    width: 100%
}

.sidebar a {
    width: 100%;
    color: var(--light-color);
    padding-top: 4px;
    padding-top: 4px;
    
    
}

.menu-button {
    display: none;
    margin-left: auto; 
    margin-right: 0; 
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }

    .menu-button {
        display: block;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
        
    }
}

/* Image Slider Styles */
#image-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slick-list {
    width: 100% !important;
}

.slick-slide {
    height: 50vh; 
}

.slick-slide img {
    width: 100vw; 
    height: 100%; 
    object-fit: cover;
    border-radius: 10px;
}

/* Slick Carousel Dots Styles */
.slick-dots {
    bottom: 20px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: var(--light-color);
}

.slick-dots li.slick-active button:before {
    color: var(--main-color);
}

/* Slick Carousel Controls Styles */
.slick-prev,
.slick-next {
    font-size: 24px;
    color: var(--light-color);
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    padding: 15px;
    margin-top: -22px;
    transition: background-color 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

/* Gradient Overlay */
.carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    z-index: 1;
}

/* Content Centering */
.carousel-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    text-align: center;
    color: var(--light-color);
}

.carousel-content h1 {
    font-size: 45px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
}

.carousel-content p {
    font-size: 19px;
    margin-top: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .slick-slide {
        height: 40vh; 
    }

    .carousel-content {
        width: 80%;
    }
}

.containerPic {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 1000px;
    height: 600px;
    background: #f5f5f5;
    box-shadow: 0 30px 50px #dbdbdb;
}

.containerPic .slide .itemPic {
    width: 200px;
    height: 300px;
    position:absolute;
    top: 50%;
    transform:translate(0, -50%);
    border-radius: 20px;
    box-shadow: 0 30px 50px #505050;
    background-position:50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}

.slide .itemPic:nth-child(1),
.slide .itemPic:nth-child(2) {
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}

.slide .itemPic:nth-child(3) {
    left:50%;
}

.slide .itemPic:nth-child(4) {
    left: calc(50% + 220px);
}

.slide .itemPic:nth-child(5) {
    left: calc(50% + 440px);
}

/* here n = 0,1,2,3,.. */
.slide .itemPic:nth-child(n+6) {
    opacity: 0;
    left: calc(50% + 660px);
}

.itemPic .contentPic {
    position: absolute;
    top: 50%;
    left: 100px;
    width: 300px;
    text-align: left;
    color: #eee;
    transform: translate(0, -50%); 
    font-family: system-ui;
    display: none;
}

.slide .itemPic:nth-child(2) .contentPic {
    display:block;
}

.contentPic .namePic {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate 1s ease-in-out 1 forwards;
}

.contentPic .descPic {
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate 1s ease-in-out 0.3s 1 forwards;
}

.contentPic button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate 1s ease-in-out 0.6s 1 forwards;
}

@keyframes animate {
    from {
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }

    to {
        opacity: 1;
        transform: translate(0, 0);
        filter: blur(0);
    }
}  

.button {
    width:100%;
    text-align: center;
    position: absolute;
    bottom: 20px;
}

.button button {
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #000;
    transition: 0.3s;
}

.button button:hover {
    background: #ababab;;
    color: #fff;
}
/* 
/* Partner List 
.partner-list {
    flex: 0 0 100%; 
    margin-bottom: 20px;
    padding-top: 20px; 
}

/* Add this CSS for fixed image width and height 
.partner-list-image {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 120px; 
}

.partner-list-image img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
    border-radius: 10px; 
} */

/* Adjust the column width on medium-sized screens and larger */
/* @media screen and (min-width: 768px) {
    .partner-list {
        flex: 0 0 48%;
        margin-right: 4%; 
    }

    .partner-list:last-child {
        margin-right: 0;
    }
} */

/* Options Section Styles */
.options-section {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-section .section-content {
    padding: 0 20px; 
    margin: 40px auto;
    max-width: 1200px;
}

.options-section .container .section-content .row .card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease; 
    border-radius: 10px;
    overflow: hidden;
}

.options-section .container .section-content .row .card:hover {
    transform: scale(1.05); 
}

.options-section .container .section-content .row .card .img-container {
    flex: 1;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    padding-top: 20px;
}

.options-section .container .section-content .row .card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    display: block;
}

.options-section .container .section-content .row .card h4 {
    font-size: 1.5rem; 
    font-weight: bold;
    color: var(--third-color);
    margin: 1rem 0;
    text-align: center;
    
}

.options-section .container .section-content .row .card p {
    color: var(--second-color);
    margin-bottom: 1rem; 
    text-align: center;
}

.options-section .section-content .title h2 {
    font-size: 3rem;
    color: var(--third-color);
    text-transform: uppercase;
    margin-bottom: 1rem; 
    text-align: center;
}

.options-section .section-content .title p {
    font-size: 1rem; 
    color: var(--second-color);
    margin-top: 1rem; 
    text-align: center;
}

/* Responsive Styles */
@media screen and (max-width: 800px) {
    .options-section .container .section-content .row .card:hover {
        transform: scale(1.05);
    }

    .options-section .container .section-content .row .card {
        width: calc(100% - 20px);
        margin: 0 10px 20px;
        transition: transform 0.3s ease; /* Add a smooth transition effect */
    }
}



/* Contact-Section Styles */
.Contact-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), var(--bg-img) no-repeat center/cover;
    color: var(--light-color);
    width: 100%;
    min-height: 30vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.Contact-section h1 {
    font-size: 45px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: var(--light-color);
    font-weight: bold;
    margin: 0.2em 0;
}

.Contact-section p {
    font-size: 19px;
    margin-top: 10px;
}


/* About Us Section Styles */
.about-us-section {
    width: 60%;
    margin: 20px auto;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us-section .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
}

/* Image Section Styles */
.about-us-section .image-section {
    flex: 0 0 45%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-us-section .image-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.about-us-section .image-section:hover img {
    transform: scale(1.1);
}

/* Article Section Styles */
.about-us-section article {
    flex: 0 0 50%;
    padding: 0 20px;
}

.about-us-section article h2,
.about-us-section article h3,
.about-us-section article p {
    margin-bottom: 15px;
}

.about-us-section article .blog-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-lg);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .about-us-section {
        width: 80%;
    }

    .about-us-section .row {
        flex-direction: column;
    }

    .about-us-section .image-section,
    .about-us-section article {
        flex: 0 0 100%;
    }
}

.map iframe {
    width: 100%;
    height: 100%;
}

/* Contact - Map - Footer Styles */
#contact {
    background-color: #f2f2f2;
    display: flex; 
    justify-content: space-between; 
    align-items: stretch; 
}

.contact-form,
.map-container {
    flex: 0 0 48%; 
    box-sizing: border-box; 
}

.contact-form {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.map-container {
    position: relative;
    overflow: hidden;
    height: 100%; 
    box-sizing: border-box; 
}

.map-container iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.contact-form h2 {
    color: var(--dark-color);
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form p {
    color: var(--second-color);
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    background-color: #f7f7f7;
    color: #000000;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    font-family: var(--main-font);
}

.contact-form input[type="submit"] {
    background-color: var(--main-color);
    color: var(--light-color);
    border: none;
    padding: 10px 20px;
    font-family: var(--main-font);
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #c75100;
}

.btn {
    display: inline-block;
    color: var(--light-color);
    background: var(--third-color);
    padding: 0.5rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    display: inline-block;
    background-color: #1d3440;
    border-radius: 20px;
    color: var(--light-color);
}

.btn:hover {
    background: var(--main-color);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .contact-form,
    .map-container {
        width: 100%;
    }

    .map-container {
        position: relative;
        overflow: hidden;
        padding-bottom: 60%; 
        height: 0;
        margin-top: 20px; 
    }

    .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/* Footer Styles */
.footer {
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 2rem;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--main-color); 
}

.footer .socials {
    margin-top: 1.5rem; 
    list-style: none;
    padding: 0; 
    display: flex;
}

.footer .socials li {
    margin-right: 10px; 
}

.footer .socials a {
    color: var(--light-color);
    font-size: 24px;
    transition: color var(--trans-speed) var(--trans-ease);
}

.footer .socials a:hover {
    color: var(--main-color);
}

.footer p {
    margin: 0;
    text-align: center;
    font-size: 14px; 
    color: var(--second-color); 
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .footer {
        padding: 2rem 1rem; 
    }

    .footer .socials {
        margin-top: 1.5rem; 
    }

    .footer .socials li {
        margin-right: 8px; 
    }

    .footer p {
        font-size: 13px; 
    }
}
