doctype strict
html(lang="en",xmlns="http://www.w3.org/1999/xhtml")

    head
        block head
            meta(name="viewport", content="width=device-width")
            meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
            link(rel="stylesheet", href="foundation.css", data-inline)
            link(rel="stylesheet", href="style.css", data-inline)

    body
        table(data-made-with-foundation).body
            tr
                td
                    block message
        
        